<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="head-list">
          <ion-list-header>{{ 'general.title' | translate }}</ion-list-header>
          <ion-note>{{ 'general.grillThermometer' | translate }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="bottom-list">
          <ion-item *ngFor="let language of languages" lines="none">
            <ion-button fill="clear" (click)="selectLanguage(language)">
              <ion-img style="height: 75%" src="/assets/images/flag-language-{{ language }}.png"></ion-img>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-footer [hidden]="!hasAlarmFooter()">
      <ion-toolbar [color]="getAlarmFooterColor()" class="ion-text-center">
        <p>{{ 'thermometer.alarmTextUppercase' | translate }}</p>
      </ion-toolbar>
    </ion-footer>
    
  </ion-split-pane>
</ion-app>
