<ion-header [translucent]=true>
  <ion-toolbar>
    <ion-title>{{ 'setpoint.setpointTitle' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">{{ 'setpoint.closeButtonText' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen >
<ion-item>
  <ion-label>{{ 'setpoint.type' | translate }}</ion-label>
  <ion-select name="selectionMeatType" interface="popover" [(ngModel)]="selectedMeatType" [compareWith]="compareMeatType" (ionChange)="onChangeMeatType($event.target.value)" multiple="false" required>
    <ion-select-option *ngFor="let meatType of meatTypes" [value]="meatType">{{meatType.name}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label>{{ 'setpoint.doneness' | translate }}</ion-label>
  <ion-select name="selectionTemperature" interface="popover" [(ngModel)]="selectedTemperature" [compareWith]="compareMeatTemperature" (ionChange)="onChangeMeatTypeTemperature($event.target.value)" multiple="false" required>
    <ion-select-option *ngFor="let meatTemperature of meatTemperatures" [value]="meatTemperature">{{meatTemperature.name}}</ion-select-option>
  </ion-select>
</ion-item>

<ion-item>
  <ion-label position="stacked">{{ 'setpoint.customTemperature' | translate }}</ion-label>
  <ion-input [disabled]="!isCustomMeatTypeSelected()" name="selectionCustomTemperature" placeholder="{{ 'setpoint.customTemperatureHintText' | translate }}" clearInput type="number" autocomplete="off" inputmode="numeric" min="0" step="5" max="200" [(ngModel)]="customTemperature"></ion-input>
</ion-item>

</ion-content>
