<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      LotusBLE
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="disconnect()">
        <ion-icon slot="end" name="close-circle"></ion-icon>
        Disconnect
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-text class="ion-text-center">
    <h3>Probe 1</h3>
    <h1>
      <ion-text color="danger">{{ bleData.temperature1 }} °C </ion-text>
      <ion-text class="small" color="success">{{ bleData.setpoint1 }} °C</ion-text>
    </h1>
  </ion-text>
  <ion-text color="medium" class="ion-text-center">
    <p>
      {{getMeatTypeString(1)}}<br />
      <ion-button color="secondary" size="small" (click)="onSetSetpoint1()">Change</ion-button>
    </p>
  </ion-text>

  <p>&nbsp;</p>
  
  <ion-text class="ion-text-center">
    <h3>Probe 2</h3>
    <h1>
      <ion-text color="danger">{{ bleData.temperature2 }} °C </ion-text>
      <ion-text class="small" color="success">{{ bleData.setpoint2 }} °C</ion-text>
    </h1>
  </ion-text>
  <ion-text color="medium" class="ion-text-center">
    <p>
      {{getMeatTypeString(2)}}<br />
      <ion-button color="secondary" size="small" (click)="onSetSetpoint2()">Change</ion-button>
    </p>
  </ion-text>

  <ion-item lines="none">
    <ion-range min="10" max="100" step="5" snaps="true" debounce="250" [value]="bleData.fan" (ionChange)="onChangeFanSpeed($event.target.value)">
      <ion-icon slot="start" name="remove"></ion-icon>
      <ion-icon slot="end" name="add"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-text class="ion-text-center" color="medium">
    <p>
      <ion-icon name="options-outline"></ion-icon>
      <span style="vertical-align: top;"> {{ bleData.fan }} % ({{ bleData.rpm }} rpm) | </span>
      <ion-icon [hidden]="batteryIcon != 0.0" name="battery-dead-outline"></ion-icon>
      <ion-icon [hidden]="batteryIcon != 0.5" name="battery-half-outline"></ion-icon>
      <ion-icon [hidden]="batteryIcon != 1.0" name="battery-full-outline"></ion-icon>
      <span style="vertical-align: top;"> {{ bleData.battery | number:'1.1-1' }} V | </span>
      <ion-icon name="cellular-outline"></ion-icon>
      <span style="vertical-align: top;"> {{ rssi }} db</span>
    </p>
  </ion-text>
</ion-content>

<ion-footer [hidden]="!hasAlarmFooter()">
  <ion-toolbar [color]="getAlarmFooterColor()" class="ion-text-center">
    <p>ALARM</p>
  </ion-toolbar>
</ion-footer>
