<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'general.title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-text class="ion-text-center">
    <h3>{{ 'thermometer.probe' | translate:{'nr': 1} }}</h3>
    <p>
      <ion-text color="danger" class="temperature">{{ temperatureProbe1 | probe }} </ion-text>
      <ion-text [hidden]="temperatureProbe1 <= -100" class="small" color="success">{{ setpoint1 | probe }}</ion-text>
    </p>
  </ion-text>
  <ion-text [hidden]="temperatureProbe1 <= -100" color="medium" class="ion-text-center">
    <p>
      {{getMeatTypeString(1)}}<br />
      <ion-button color="secondary" size="small" (click)="onSetSetpoint1()">
        <ion-icon slot="start" name="thermometer"></ion-icon>
        {{ 'thermometer.changeButtonText' | translate }}
      </ion-button>
    </p>
  </ion-text>

  <p>&nbsp;</p>
  
  <ion-text class="ion-text-center">
    <h3>{{ 'thermometer.probe' | translate:{'nr': 2} }}</h3>
    <p>
      <ion-text color="danger" class="temperature">{{ temperatureProbe2 | probe }} </ion-text>
      <ion-text [hidden]="temperatureProbe2 <= -100" class="small" color="success">{{ setpoint2 | probe }}</ion-text>
    </p>
  </ion-text>
  <ion-text [hidden]="temperatureProbe2 <= -100" color="medium" class="ion-text-center">
    <p>
      {{getMeatTypeString(2)}}<br />
      <ion-button color="secondary" size="small" (click)="onSetSetpoint2()">
        <ion-icon slot="start" name="thermometer"></ion-icon>
        {{ 'thermometer.changeButtonText' | translate }}
      </ion-button>
    </p>
  </ion-text>

  <ion-item lines="none">
    <ion-range min="10" max="100" step="5" snaps="true" debounce="250" [value]="fanSpeed" (ionChange)="onChangeFanSpeed($event.target.value)">
      <ion-icon slot="start" name="remove"></ion-icon>
      <ion-icon slot="end" name="add"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-text class="ion-text-center" color="medium">
    <p>
      <ion-icon name="options-outline"></ion-icon>
      <span style="vertical-align: top;"> {{ fanSpeed }} % ({{ fanRpm }} {{ 'thermometer.rpm' | translate }}) | </span>
      <ion-icon [name]="getBatteryIcon()"></ion-icon>
      <span style="vertical-align: top;"> {{ battery | number:'1.1-1' }} {{ 'thermometer.volt' | translate }} | </span>
      <ion-icon name="cellular-outline"></ion-icon>
      <span style="vertical-align: top;"> {{ 'thermometer.rssiStatus' | translate:{'rssi': rssi} }}</span>
    </p>
  </ion-text>
</ion-content>

<ion-footer [hidden]="!hasAlarmFooter()">
  <ion-toolbar [color]="getAlarmFooterColor()" class="ion-text-center">
    <p>{{ 'thermometer.alarmTextUppercase' | translate }}</p>
  </ion-toolbar>
</ion-footer>
