<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      LotusBLE
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scan()">
        <ion-icon slot="end" name="refresh"></ion-icon>
        Scan
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p [hidden]="devices.length > 0">No devices found.</p>
   <ion-list>
    <button ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
      <h2>{{ device.name || 'Unknown' }}</h2>
      <p>{{ device.id }}</p>
      <p><ion-icon name="cellular-outline"></ion-icon> {{device.rssi}} db</p>
    </button>  
   </ion-list> 
</ion-content>