<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  Sensor settings
  <ion-item>
    <ion-label>Probe 1</ion-label>
    <ion-select name="selectionSensorType" interface="popover" [(ngModel)]="selectedSensorType1" [compareWith]="compareSensorTypeModel" (ionChange)="onChangeSensorType(1)" multiple="false" required>
      <ion-select-option *ngFor="let sensorType of sensorTypes" [value]="sensorType">{{sensorType.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Probe 2</ion-label>
    <ion-select name="selectionSensorType" interface="popover" [(ngModel)]="selectedSensorType2" [compareWith]="compareSensorTypeModel" (ionChange)="onChangeSensorType(2)" multiple="false" required>
      <ion-select-option *ngFor="let sensorType of sensorTypes" [value]="sensorType">{{sensorType.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-content>
